name: Deploy to Google Play Internal & Nexus
on:
  push:
    tags:
      - '*'
  workflow_dispatch:
jobs:
  deployAabToGooglePlayInternal:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v5
        with:
          distribution: 'jetbrains'
          java-version: '21'
      - shell: bash
        env:
          # The following env variables are used by signing configuration in sample/build.gradle
          KEYSTORE_ALIAS: ${{ secrets.KEYSTORE_ALIAS }}
          KEYSTORE_KEY_PSWD: ${{ secrets.KEYSTORE_KEY_PSWD }}
          KEYSTORE_PSWD: ${{ secrets.KEYSTORE_PSWD }}
        # The script decodes keystore (required by sample/build.gradle) and fastlane-api.json
        # needed by fastlane (see fastlane/Appfile).
        run: |
          echo "${{ secrets.KEYSTORE_FILE }}" > keystore.asc
          gpg -d --passphrase "${{ secrets.KEYSTORE_FILE_PSWD }}" --batch keystore.asc > keystore
          echo "${{ secrets.API_KEY_FILE }}" > fastlane-api.json.asc
          gpg -d --passphrase "${{ secrets.API_KEY_FILE_PSWD }}" --batch fastlane-api.json.asc > fastlane-api.json
          fastlane deployInternal
  deployAarsToNexus:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v5
        with:
          distribution: 'jetbrains'
          java-version: '21'
      - shell: bash
        env:
          # The following env variables are used by gradle/publish-module.gradle
          GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY }}
          GPG_PASSWORD: ${{ secrets.GPG_PASSWORD }}
          # The following env variables are used by gradle/publish-root.gradle
          OSSR_USERNAME: ${{ secrets.OSSR_USERNAME }}
          OSSR_PASSWORD: ${{ secrets.OSSR_PASSWORD }}
          SONATYPE_STAGING_PROFILE_ID: ${{ secrets.SONATYPE_STAGING_PROFILE_ID }}
        # The script generates sec.gpg file that is required by gradle/publish-module.gradle
        # and starts :deployNexus lane using fastlane.
        run: |
          echo "${{ secrets.GPG_FILE }}" > sec.gpg.asc
          gpg -d --passphrase "${{ secrets.GPG_FILE_PSWD }}" --batch sec.gpg.asc > sec.gpg
          fastlane deployNexus
